body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
    color: #333;
    background-color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    padding: 80px;
}

.col-head {
    height: 100px; 
    border-bottom: 1px dotted #ccc;
    padding-bottom: 60px;
    padding-top: 20px;
}

.col {
    padding-top: 10px;
}

.btn {
    font-family: Arial;
}

.jumbotron {
    background-color: #fff;
    border-radius:50px;
    text-align: left;
}

.jumbotron h1 {
    font-size: 67.5px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #003F78;
    text-shadow: 2px 2px #aaa;
}

.jumbotron h3, .subheading {
    font-size: 32px;
    font-weight: 200;
    color: #666;
    text-shadow2: 2px 2px #ccc;
}

.and {
    color: rgb(160, 160, 160);
}

.jumbotron p {
    padding-bottom: 10px;
 }

.glyphicon-4x {
    font-size: 62px;
}

.panel {
    text-align: left;
}

.panel-title {
    font-size: 32px;
}

.price {
    font-size: 1.4em;
    color: #FF8C00;
}

.list-group-item, 
.fa-check-circle {
    margin-right: 10px;
}
    
.badge {
    background-color: rgb(65, 150, 65);
    font-size: 16pt;
}

.fa-quote-left,
.fa-quote-right {
    color: #bbb;
}

.theme-showcase {
	padding-bottom: 0px;
}

.navbar-brand img {
	height: 18px;
	margin: 0;
	padding: 0;
}

.btn-space {
    margin-left: 20px;
}

.spacer {
    margin-top: 300px;
    margin-bottom: 140px;
}

.spacer2 {
    margin-bottom: 50px;
    padding-top: 0px;
    border-top: 1px solid #eee;
}


.btn {
    border-radius: 0;
}

    
.page-header2 {
	margin-top: 300px;
	padding-top: 0px;
}

.center {
    display:table;
    margin:0 auto;
}

.no-border {
    border: 0;
}

.middle {
    padding-right: .6em;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.logo {
    height: 190px;
}

.green {
	/*color: rgb(65, 150, 65);*/
    color: #99B52B;
}

.bg1 {
    background-color: green;
}

.bg2 {
    background-color: blue;
}

.blue {
	/*color: rgb(65, 65, 150);*/
    color: #003F78;
}

.gray {
	color: #aaa;
}

.lightblue {
	color: #ccccee;
    border: 0px solid #aaaacc;
}

.black {
	color: black;
}

.dark {
    color: #666;
}

.twitterblue {
	color: #55acee;
}

.well {
	margin-top: 40px;
	text-align: center;
    font-size: 0.9em;
}

.justify {
    text-align:justify;
    text-justify:inter-word;
}

@media only screen and (max-width:980px) {
    .col-head {
        display: none;
    }
}